{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<div>

</div>

        <a href="{{ path('app_cart') }}">Cart here</a>

        <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                                <th scope="col" class="px-6 py-3">
                                        Product name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                        price
                                </th>
                                <th scope="col" class="px-6 py-3">
                                        image
                                </th>
                                <th>
                                        associated QR code
                                </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{ product.name }}
                                </th>
                                <td class="px-6 py-4">
                                        {{ product.price }}
                                </td>
                                <td class="px-6 py-4">
                                        {% if product.image %}
                                                <img src="..{{ vich_uploader_asset(product.image,"imageFile") }}" />
                                        {% else %}
                                                <span>Ce produit n'a pas d'image</span>
                                                <a href="{{ path('app_image_addToProduct',{id:product.id}) }}" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                                                        Ajouter une image
                                                </a>
                                        {% endif %}
                                </td>
                                <td>
                                        <a href="{{ path('getPdf',{id:product.id}) }}">
                                                <img src="{{ path('getQrCode',{id:product.id}) }}" >

                                        </a>
                                </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                </table>
        </div>

        <a href="{{ path('app_admin_create')}}"  class="mt-5 text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                Créer nouveau produit
        </a>
{% endblock %}
